@media screen and (max-width: 640px) {
    img{
        max-width: 100%;
        height: auto;
        width: auto;
    }
    body{
        font-family: courier;
    }
    img{
        max-width : 100% ;
        height : auto ;
    }
    .main{
        padding: 45px 60px;
    }
    .copy-container h1{
        font-size: 35px;
    }
    .copy-container span{
        color:red;
    }
    .contents{
        height: 500px;
        margin-top: 50px;
    }
    .contents-item{
        float: none;
        margin-right: 50px;
    }
    .contents-item img{
        width: 100%;
    }
    .contents-item p{
        font-size: 40px;
        margin-top: 30px;
    }
}